BAIDU_ASR_API_KEY=
BAIDU_ASR_SECRET_KEY=
BAIDU_ASR_CUID=voicedraw-web
BAIDU_ASR_DEV_PID=1537
BAIDU_ASR_PORT=3001
BAIDU_TTS_CUID=voicedraw-web
BAIDU_TTS_PER=0
BAIDU_TTS_SPD=5
BAIDU_TTS_PIT=5
BAIDU_TTS_VOL=7
BAIDU_TTS_AUE=3
RIGHT_CODES_DRAW_API_KEY=
RIGHT_CODES_DRAW_BASE_URL=https://www.right.codes/draw
RIGHT_CODES_DRAW_MODEL=gpt-image-2
RIGHT_CODES_DRAW_SIZE=1024x1024
RIGHT_CODES_DRAW_RESPONSE_FORMAT=url
OPENAI_API_KEY=
OPENAI_IMAGE_MODEL=gpt-image-1
OPENAI_IMAGE_SIZE=1024x1024
ENABLE_LOCAL_SKETCH_FALLBACK=false
