BAIDU_ASR_API_KEY=
BAIDU_ASR_SECRET_KEY=
BAIDU_ASR_CUID=voicedraw-web
BAIDU_ASR_DEV_PID=1537
BAIDU_ASR_PORT=3001
BAIDU_TTS_CUID=voicedraw-web
BAIDU_TTS_PER=0
BAIDU_TTS_SPD=5
BAIDU_TTS_PIT=5
BAIDU_TTS_VOL=7
BAIDU_TTS_AUE=3
